<h1>Rubrary</h1>

<div class="well well-sm text-center">Welcome in our library!</div>

<p>Choose one category:</p>
<a href="/authors" title="Authors" class="btn btn-default btn-lg"><i class="fa fa-male fa-lg" aria-hidden="true"></i> Authors</a>
<a href="/books" title="Books" class="btn btn-default btn-lg"><i class="fa fa-book fa-lg" aria-hidden="true"></i> Books</a>
<a href="/reservations" title="Reservations" class="btn btn-default btn-lg"><i class="fa fa-shopping-basket fa-lg" aria-hidden="true"></i> Reservations</a>
